- const relative_path = '.'
- const site_title = ' | SAMPLE SITE'
- const site_lang = 'en'
- const page_title = `Top` + `${site_title}`
- const meta_title = `${page_title}`

- const page_description = 'This is a bolterplate skeleton based site.'
- const page_og_title = `${page_title}`
- const page_og_type = "website"
- const page_og_url = "https://www.website.com"
- const page_og_image = "https://www.website.com/assets/image/common/ogp.png"

doctype
html(lang=`${site_lang}`)
    include inc/head.pug
    body
        // Header
        header
        // Main
        main.topPage
            h1 testdd
            h3 test2
        // Footer
    include inc/footer.pug
