doctype
html(lang="en")
    head
        link(rel="stylesheet" href="./assets/css/style.css")
    body
        main.topPage
            h1 testdd
            h3 test2
    footer
        small copyright testing 123
        script(src="./assets/js/bundle.js")
